@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

body,td,th {
	background: url("../imgs/background.png") no-repeat;
	display: none;
	margin: 0;
	padding: 0;
}

#menu_container {
	width: 430px;
	display: flex;
	margin-top: 100px;
	margin-left: 100px;
	flex-flow: column wrap;
}

#menu_items {
	margin: 0px;
	padding: 0px;
	width: 430px;
	color: #9c9c9c;
	font-size: 14pt;
	font-weight: 300;
	text-align: left;
	line-height: 60px;
	font-style: normal;
	list-style-type: none;
	font-family: "Oswald",sans-serif;
}

#menu_items li {
	height: 60px;
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

#menu_items li:nth-child(odd) {
	background-color: rgba(0,0,0,0.6);
}

#menu_items li:nth-child(even) {
	background-color: rgba(0,0,0,0.75);
}

.item_selected {
	background-color: #6425d9 !important;
	color: #fff;
}