#app[data-v-70a2ade0] {
    width: 100vw;
    height: 100vh
}

#chat-area[data-v-70a2ade0] {
    position: absolute;
    top: 2.031vw;
    left: 1.771vw;
    display: flex;
    flex-direction: column;
    width: 25.573vw
}

.messages-area[data-v-70a2ade0] {
    display: flex;
    flex-direction: column;
    gap: .26vw;
    max-height: 11.563vw;
    overflow-y: auto;
    direction: rtl;
    padding-left: .417vw;
    width: 100%;
    overflow-x: hidden
}

.message[data-v-70a2ade0] {
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 100%;
    direction: ltr
}

.message-type[data-v-70a2ade0] {
    background-color: #6425d9;
    border-top-left-radius: .208vw;
    border-bottom-left-radius: .208vw;
    font-weight: 500;
    color: #fff;
    font-size: .625vw;
    padding: .313vw .729vw;
    text-transform: uppercase;
    height: 100%;
    letter-spacing: .031vw
}

.message-content[data-v-70a2ade0] {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: rgba(15,15,15, 0.75);
    border-top-right-radius: .208vw;
    border-bottom-right-radius: .208vw;
    font-weight: 300;
    font-size: .625vw;
    color: #fff;
    padding: .313vw .729vw;
    letter-spacing: .031vw
}

.message-sendedBy[data-v-70a2ade0] {
    color: #fff
}

#input-area[data-v-70a2ade0] {
    display: flex;
    gap: .313vw;
    margin-top: 1.094vw
}

.input-box[data-v-70a2ade0] {
    width: 23.177vw;
    height: 2.083vw;
    background-color: rgba(15,15,15, 0.75);
    border-radius: .208vw;
    padding: 0 .729vw;
    display: flex;
    gap: 1.302vw
}

.input[data-v-70a2ade0] {
    flex: 1;
    margin-left: .223vw;
    background: none;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: .625vw;
    color: #fff
}

.input[data-v-70a2ade0]::-moz-placeholder {
    color: #fff
}

.input[data-v-70a2ade0]:-ms-input-placeholder {
    color: #fff
}

.input[data-v-70a2ade0]::placeholder {
    color: #fff
}

.emoji[data-v-70a2ade0] {
    width: .938vw;
    cursor: pointer
}

.send[data-v-70a2ade0] {
    width: .677vw;
    cursor: pointer
}

.notify-box[data-v-70a2ade0] {
    background-color: rgba(15,15,15, 0.75);
    border-radius: .208vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.083vw;
    cursor: pointer
}

.notify-box img[data-v-70a2ade0] {
    width: .833vw
}

.filter-types-area[data-v-70a2ade0] {
    display: flex;
    margin-top: .677vw;
    gap: .417vw
}

.filter-types-area button[data-v-70a2ade0] {
    padding: .313vw .417vw;
    color: #fff;
    font-weight: 500;
    font-size: .625vw;
    line-height: .938vw;
    border-radius: .208vw;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content
}

.emoji-area[data-v-70a2ade0] {
    position: absolute;
    flex: 1;
    right: 0;
    width: 15vw;
    height: 9.688vw;
    padding: .417vw;
    background-color: rgba(15,15,15, 0.75);
    border-radius: .208vw;
    display: flex;
    gap: .417vw;
    flex-wrap: wrap;
    overflow: auto;
}

.emoji-item[data-v-70a2ade0] {
    cursor: pointer;
    opacity: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.emoji-item[data-v-70a2ade0]:hover {
    opacity: 1;
    transform: scale(1.05)
}

.commandPrompt[data-v-70a2ade0] {
    align-items: center;
    display: flex;
    flex: 1;
    border-radius: .208vw
}

.commandText[data-v-70a2ade0] {
    font-size: .625vw;
    color: #fff;
    font-weight: 600;
    padding: .208vw;
    border-radius: .208vw;
    background-color: hsla(56, 100%, 50%, 0.08);
    margin-left: .573vw
}

.chatTypeBackground[data-v-70a2ade0] {
    text-transform: uppercase;
    background-color: rgba(15,15,15, 0.75);
    letter-spacing: .031vw
}

.selected[data-v-70a2ade0] {
    background: hwb(345 4% 4%);
}